[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DCEM"]
	path = DCEM
	url = https://github.com/parichit/dcem
[submodule "geokmeans"]
	path = geokmeans
	url = https://github.com/parichit/geometric-k-means
	subdir = geokmeans
