[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DCEM"]
	path = DCEM
	url = https://github.com/parichit/dcem
	shallow = true
	registered = true
